@use 'variables' as *;
// ---------------- ESTILOS DEL INDEX ----------------
.layout-index {
    padding: 20px;
    background-color: #fffdfde3; 

    h1 {
        color: #eb0e45;
        font-size: 10em;
        margin-top: 20px;
        font-family: $font-footer-title; 
        text-align: center;
    }

    h2 {
        color: #471c44;
        font-size: 3em;
        font-family: "Just Me Again Down Here", cursive; // No agregado a variables
        text-align: center;
    }

    p {
        color: $color-texto; 
        font-size: 1.5em;
        line-height: 1.5;
        margin: 20px;
        font-family: "Times New Roman", Times, serif; // esta no está en variables
        text-align: center;
    }
}

// Imagen principal
.portada-img {
    width: 50%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 10px auto 20px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

// Contenedor de las 3 imágenes
.container-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    img {
        width: 100%;
        display: block;
    }
}