@use 'variables' as *;

// ---------------- MIXINS ----------------
@mixin btn-compra($bg-gradient, $hover-transform: translateY(-3px), $hover-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)) {
    background: $bg-gradient;
    border: none;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
        transform: $hover-transform;
        box-shadow: $hover-shadow;
    }
}