@use 'variables' as *;
@use 'responsive' as *;
// ---------------- QUIENES SOMOS ----------------

.layout-quienes-somos {
    margin: 20px;
    padding: 0;

    h1 {
        text-align: center;
        margin-top: 0;
    }

    .grid-quienes {
        display: grid;
        grid-template-columns: 1fr 1fr; // texto | imagen
        gap: 30px;
        align-items: center; // centra verticalmente
        margin: 15px;
        padding: 15px;
    }

    .texto-quienes {
        text-align: center; // mantiene los textos centrados

        p {
            color: #817e76;
            font-size: 2em;
            line-height: 1.5;
            margin: 20px;
            font-family: $font-navbar;
        }

        h1 {
            font-size: 4em;
            font-family: "Just Me Again Down Here", cursive;
            margin-bottom: 20px;
        }

        h2 {
            color: #5f30877f;
            font-size: 4em;
            font-family: "Just Me Again Down Here", cursive;
        }

        h3 {
            color: #c21571;
            font-size: 2.5em;
            font-family: $font-titulo;
        }
    }

    .imagen-quienes {
        display: flex; // cambia a flex para centrar la imagen
        justify-content: center;
        align-items: center;

        img {
            width: 100%;      // ocupa toda la columna
            max-width: 400px; // limita tamaño máximo
            height: auto;     // mantiene proporción
            object-fit: cover;
            border-radius: 8px;
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        }
    }
}

