// ---------------- VARIABLES PRINCIPALES ----------------
// Colores generales
$color-texto: #626056;              // Color de los párrafos
$color-titulos: #6e706e;            // Color de los títulos

//Colores footer

$color-footer-link: #cdf5ff;      // color de los enlaces
$color-footer-text: #f5f5f5;      // color del texto normal
$color-footer-title: #bccccb;     // color de los títulos


// Navbar
$color-navbar: #848274;              // Background del navbar
$color-navbar-text: #ecebde;        // Color del texto de los links
$color-navbar-hover-links: #929781;  // Fondo de los links al pasar el mouse
$color-navbar-hover: #fbf9f4;        // Hover alternativo usado en focus

// Dropdown
$color-dropdown-bg: #e0dcd2;         // Fondo de la lista desplegable
$color-dropdown-hover-bg: #c6c4b4;   // Fondo al pasar el mouse en dropdown

// Botón toggle
$color-navbar-toggler-border: #5e561e; // Borde del botón hamburguesa

// Tipografía
$font-titulo: "Fredericka the Great", serif;
$font-parrafo: "Noto Sans Mono", monospace;
$font-navbar: "Crimson Pro", serif;
$font-footer-text: "Libre Bodoni", serif;
$font-footer-title: "Lacquer", system-ui;


