// ---------------- VARIABLES PRINCIPALES ----------------
// Colores generales
$color-texto: #000000;              // Color de los párrafos
$color-titulos: #361348;            // Color de los títulos

//Colores footer

$color-footer-link: #7148bc;      // color de los enlaces
$color-footer-text: #dab2e7;      // color del texto normal
$color-footer-title: #f545f8b4;     // color de los títulos


// Navbar
$color-navbar-text: #fffdfe;        // Color del texto de los links
$color-navbar-hover-links: #2c0a288a;  // Fondo de los links al pasar el mouse
$color-navbar-hover: #ffffff7a;        // Hover alternativo usado en focus

// Dropdown
$color-dropdown-bg: #a48cc5de;         // Fondo de la lista desplegable
$color-dropdown-hover-bg: #fbfbffc3;   // Fondo al pasar el mouse en dropdown

// Botón toggle
$color-navbar-toggler-border: #52235e; // Borde del botón hamburguesa

// Tipografía
$font-titulo: "Fredericka the Great", serif;
$font-parrafo: "Noto Sans Mono", monospace;
$font-navbar: "Crimson Pro", serif;
$font-footer-text: "Libre Bodoni", serif;
$font-footer-title: "Lacquer", system-ui;



