// Conectamos los otros archivos partials a mi scss principal
// Principal solo tiene estilo de navbar - footer
// Para no repetir el prefijo "variables." o "mixins." usamos "as *

//variables
@use './partials/variables' as *;
@use './partials/mixins' as *;


//pages
@use './partials/index' as *;
@use './partials/productos' as *;
@use './partials/quienesSomos' as *;
@use './partials/contacto' as *;

//responsive
@use './partials/responsive' as *;

//--------------------NAVBAR--------------------
.mi-navbar {
    background-image: url("photos/PORTADA-min.jpg");
    background-size: cover;
    background-position: left 45%;
    font-family: $font-navbar;
    font-size: 1.5rem;
    font-weight: 500;
    --bs-navbar-color: #{$color-navbar-text}; // color normal de los links
    --bs-navbar-hover-color: #{$color-navbar-hover}; // color del texto al pasar el mouse

    //Estilos de losliks al pasar el mouse o hacer focus(hacer click
    //& ---> coloca el selector padre (.nav-link)
    .nav-link {
        border-radius: 2rem; // siempre redondeado si lo ponemos por fuera(dentro del focus solo se redondea al hacer focus)

        &:hover,
        &:focus {
            background-color: $color-navbar-hover-links ;
            color: $color-navbar-hover; // color del texto al pasar el mouse
        }
    }

}


//Dropdown *desplegable
.dropdown-menu {
    background-color: $color-dropdown-bg;

    .dropdown-item {
        font-family: $font-navbar;
        font-size: 1.5rem;
        font-weight: 500;
        color: $color-navbar-hover-links; // color normal del texto

        //& ---> coloca el selector padre (.dropdown-item)
        &:hover {
            background-color: $color-dropdown-hover-bg;
            color: $color-navbar-text ; // color del texto al pasar el mouse
        }
    }
}

// Botón toggle (hamburguesa)
.navbar-toggler {
    border-color: $color-navbar-toggler-border;
    border-radius: 0.5rem;
}

// Logo de la navbar
.navbar-brand {
    img {
        width: 100px;
        background: none;
        height: auto;
        margin-right: 10px;
        border-radius: 50%;
        box-shadow: 3px 6px 8px rgba(2, 2, 2, 0.741);
        -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 0) 100%);
        mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 0) 100%);
    }
}

//--------------------FOOTER--------------------
footer {
    .footer-container {
        display: flex;
        flex-direction: column; // para que los elementos estén uno debajo del otro
        align-items: center; // centra horizontalmente
        padding: 10px;
        text-align: center;
        background: -webkit-linear-gradient(90deg, #000000, #1e0d21, #30008a, #210240);
        background: linear-gradient(90deg, #000000, #1e0d21, #30008a, #210240);


        .footer-logo {
            margin-top: 20px;
            width: 80px;
            height: auto;
            margin-bottom: 20px;
            border-radius: 50%;
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.716);
            -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 0) 100%);
            mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 99%, rgba(0, 0, 0, 0.873) 100%);
        }

        a {
            color: $color-footer-link;
            font-size: 1.5em;
            text-decoration: none;
        }

        p {
            color: $color-footer-text;
            font-size: 1.2em;
            font-family: $font-footer-text;
        }

        h4 {
            color: $color-footer-title;
            font-size: 1.5em;
            font-family: $font-footer-title;
        }

        h2 {
            color: $color-footer-title;
            font-size: 1.5em;
            font-family: $font-footer-title;
            margin-bottom: 10px;
        }
    }

    .footer-redes a {
        color: $color-footer-link;
        font-size: 2rem;
        margin: 0 10px;

        &:hover {
            color:#ebb0ff;
        }
    }
    
}

//--------------------GENERAL--------------------
// ---------------- RESET GLOBAL ----------------
// Eliminamos márgenes/paddings por defecto de los navegadores
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Hace que el padding y border no sumen al tamaño total
}

html {
    font-size: 16px; // Base para los em/rem
}

// ---------------- TITULOS Y PARRAFOS GENERALES ----------------

h1 {
    color: $color-titulos; // Color del texto
    font-size: 7em; // Tamaño de fuente grande
    margin-top: 20px; // Espacio arriba
    font-family: $font-titulo; // Fuente personalizada
}

/*-------------EDITAR TODOS LOS PÁRRAFOS-------------------*/
p {
    color: $color-texto; // Color del texto
    font-size: 1.5em; // Tamaño de fuente
    line-height: 1.5; // Espacio entre líneas
    margin: 20px; // Margen alrededor del párrafo
    font-family: $font-parrafo; // Fuente personalizada
}

//----------LOGO SKATE ANIMADO-----------
.icon-container {
    text-align: center;
    /* centra el contenido dentro del div */
    margin: 20px 0;
    /* espacio arriba y abajo */
}

.icon-container h2 {
    margin-bottom: 10px;
    /* espacio entre el h2 y el icono */
}

.patineta {
    display: inline-block;
    /* asegura que se comporte como elemento centrable */
    width: 64px;
    height: 64px;
}